VITE_FIREBASE_API_KEY=AIzaSyCNgoC7boSAp2uMj21Idvi3EFW50Lvc9Ps
VITE_FIREBASE_AUTH_DOMAIN=taptapftprj-leadell-2026.firebaseapp.com
VITE_FIREBASE_DATABASE_URL=https://taptapftprj-leadell-2026-default-rtdb.asia-southeast1.firebasedatabase.app
VITE_FIREBASE_PROJECT_ID=taptapftprj-leadell-2026
VITE_FIREBASE_STORAGE_BUCKET=taptapftprj-leadell-2026.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=972369456887
VITE_FIREBASE_APP_ID=1:972369456887:web:cedb748de6494c842a2df2
VITE_ENABLE_FIREBASE_STORAGE=false
VITE_API_BASE_URL=http://localhost:8080/api
VITE_SOCKET_URL=http://localhost:8080
VITE_USE_FIREBASE_EMULATORS=false
VITE_STORE_NAME=Taptap Foodtrip
VITE_STORE_ADDRESS="#17 Gemini Street, Pamplona Park, Pamplona Dos, Las Pinas City 1740"
VITE_STORE_LATITUDE=14.4509229
VITE_STORE_LONGITUDE=120.9764514
